/* Keep general paragraph styling simple */
p {
  margin-top: 10px;
  padding: 20px;
}

/* Corrected the spelling to .story */
.story {
  visibility: hidden; 
  background-color: #ffde00;
  padding: 10px;
  border-radius: 5px;
}